/* MUDOU AQUI */
* {
  box-sizing: border-box;
}

/* MUDOU AQUI */
body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}